[Unit]
Description=Check UNSB DT extra ablations every 15 minutes

[Timer]
OnCalendar=*-*-* *:0/15:00
Persistent=true
Unit=unsb_finalize.service

[Install]
WantedBy=timers.target
