[Unit]
Description=Run UNSB progress monitor every 30 minutes

[Timer]
OnCalendar=*-*-* *:0/30:00
Persistent=true
Unit=unsb_monitor.service

[Install]
WantedBy=timers.target
